<div>
    <!-- <img src="/assets/images/logo.JPG"> -->
   
  <h1>Oui Jobs</h1> 
  <ul class="nav justify-content-end">
      <li class="nav-item">
        <!-- <a class="nav-link" routerLink="recruiterprofile">PROFILE</a> -->
        <a class="nav-link" href="recruiterprofile">PROFILE</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" routerLink="candidatesearch">CANDIDATE SEARCH</a> -->
        <a class="nav-link" href="candidatesearch">CANDIDATE SEARCH</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" routerLink="showapplication">APPLICATIONS</a> -->
        <a class="nav-link" href="showapplication">APPLICATIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">LOG_OUT</a>
      </li>
  </ul>
  </div>