#div1{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    border-color:  rgb(216,226,220);
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
}
h5{
    text-align: center;
    color:  rgb(151, 150, 150);
}
hr{
    border-top: 2px dashed rgb(216,226,220);
}
div{
    padding-left: 50px;
    color:  rgb(97, 96, 96);

}
input[type=text], input[type=number], input[type=date], input[type=email],button{   
    /* width: 100%;    */
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block; 
    border: 2px solid rgb(216,226,220);   
    box-sizing: border-box;   
} 
button{
    float: right;
}
#size{
     width: 500px;
     height: 150px;
}
