<div>
    <form (ngSubmit)="check()">  
        <div class="container">   
            <label>Recruitername : </label>   
            <input type="text" placeholder="Enter Name" name="username" [(ngModel)]="user.uname" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="user.password" required>  
            <button type="submit">Login</button>   
               
            Don't have an account?<a href="signinrecru"> Signup </a>   
        </div>   
</form></div>    
    
